body{
  background-color: #f3f3f3;
  color: #666666;
  font-family: 'Muli', sans-serif;
}

header{
  margin: 2em 0;
}

h1{
  font-family: 'Varela Round', sans-serif;
  letter-spacing: .05em;
}

p{
  font-size: 1.125em;
  line-height: 1.5em;
}

button{
  background-color: #ffffff;
  border-radius: .25em;
  font-family: 'Muli', sans-serif !important;
  font-weight: bold;
  font-size: .875em !important;
  letter-spacing: .05em;
  padding: .75em;
}

#wrapper{
  width: 51em;
  margin: 0 auto;
}


.new-img{
  float: left;
  margin-top: 2em;
  padding: 1em;
}

.new-img:hover{
  opacity: .5;
}

#score{
  border-top: .25em solid #dfdfdf;
  width: 50em;
  bottom: 1em;
  position: fixed;
}

.player-one, .timer {
  width: 16em;
  vertical-align: top;
}
.player-one{
  float:left;
}
.timer{
  float:left;
  margin: 0 1em;
}
.player-two{
  float:right;
}
