body{
  background-color: #f3f3f3;
  color: #666666;
  font-family: 'Muli', sans-serif;
}

header{
  margin: 2em 0;
}

h1{
  letter-spacing: .05em;
}

#wrapper{
  width: 50em;
  margin: 0 auto;
}

.new-img, .choice-img{
  float: left;
  margin-top: 2em;
  padding: 1em;
}
